<connectionStrings>
  <add name="enodedb" connectionString="server=127.0.0.1;database=GoogleDB;uid=sa;pwd=Fr@nk1314;" providerName="System.Data.SqlClient" />
  <add name="readdb" connectionString="server=127.0.0.1;database=GoogleDB;uid=sa;pwd=Fr@nk1314;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
</connectionStrings>
