<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="nameServerAddress" value ="127.0.0.1:10025"/><!--可以用多个分号分割,实际环境请填写网卡的实际地址-->
    <add key="GroupName" value=""/>
  </appSettings>
  <connectionStrings configSource="connection.config"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
