<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="equeueStorePath" value="D:\EnodeEqueueStore222"/>
    <add key="nameServerAddress" value ="127.0.0.1:10025"/><!--可以用多个分号分割-->
    <add key="producerPort" value="5111"/>
    <add key="consumerPort" value="6111"/>
    <add key="adminPort" value="7111"/>
  </appSettings>
  <connectionStrings configSource="connection.config"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
